<% rc = @recipe_collections %>
<h2>Var vill du spara <%= @recipe.name %>?</h2>
<ul>
  <% rc.each do |collection| %>
    <li>
      <%= collection.name %>
      <ul>
      <% collection.collection_blocks.each do |block| %>
        <li><%= link_to block.name, collection_block_path(block, :recipe_id => @recipe.id), :method => :put  %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
